// COLOR VARIABLES
$primary-color: #0a0f13;
$accent-color: #00f2ff;
$secondary-color: #1c2024;
$technicalUI-color: #a7abb1;
$alert-color: #ff4b4b;
$minimal-color: #3dffb1;
$white-color: #eeeeee;
$black-color: #040404;
$ethos-color: #1c202466;
$carbon-color: #011220;
$ethosLabel-color: #0e2937;
$ethosText-color: #99f7ff;
$ethosTerminalRed-color: #ff716c;
$border-color: #173138;
$shape-color: #10252b;
$solar-color: #171d22;
$analysis-color: #1f272e;
$ecosystem-color: #0e1419;
$ecosystemCard-color: #1a2027;
$ecosystemIconBackground-color: #141a20;
$timeLine-color: #436b70;
$transmissionForm-color: #121619;
$input-color: #31363b;
$transmit-color: #202d30;
$transmitText-color: #5c9398;
$transmitCalibration-color: #141a20;

// FONT VARIABLES

$font-primary: var(--font-primary), sans-serif;

$border-radius: 4rem;

//Responsive breakpoints
$bp-extralarge: 125rem; // 2000px
$bp-largest: 100rem; //1600px
$bp-larger: 75rem; // 1200px
$bp-large: 62.5rem; // 1000px
$bp-medium: 50rem; // 800px
$bp-bootstrap-medium: 47.9375rem; //767px
$bp-small: 37.5rem; // 600px
$bp-xsmall: 22rem; // 352px
$bp-xxsmall: 16.375rem; //262px
