@use "../abstracts/variables" as *;

.input {
  padding: 1rem;
  font-family: $font-primary;
  background-color: $ecosystem-color;
  color: $technicalUI-color;
  border: 1px solid $secondary-color;
  outline: none;
  width: 100%;
}
