@use "../abstracts/variables" as *;
@use "sass:color";

.custom-select-container {
  position: relative;
  font-family: inherit;
  user-select: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.4rem;
  width: 100%;

  & > ul,
  li {
    padding-right: 0;
  }
}

.custom-select-box {
  background-color: $ecosystem-color;
  color: $technicalUI-color;
  padding: 1rem;
  border: 1px solid $secondary-color;
  cursor: pointer;
  text-align: left;
  min-width: max-content;
  width: 100%;
  // margin-left: 1rem;

  &.disabled {
    background-color: color.adjust($ecosystem-color, $lightness: 10%);
    cursor: not-allowed;
  }
}

.custom-select-dropdown {
  position: absolute;
  width: 100%;
  margin-top: 0.25rem;
  background-color: $ecosystem-color;
  border: 1px solid color.adjust($secondary-color, $lightness: -15%);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.custom-select-option {
  padding: 0.5rem;
  color: $technicalUI-color;
  cursor: pointer;
  text-align: left;

  &:hover,
  &.highlighted {
    background-color: color.adjust($ecosystem-color, $lightness: -10%);
  }

  &.selected {
    font-weight: bold;
  }
}
