@use "../abstracts/variables" as *;

.services__card {
  background-color: $ecosystem-color;
  padding: 5rem 2rem;
  border-left: 2px solid $technicalUI-color;
  transition: all 0.5s ease;
  will-change: transition;

  &:hover {
    border-left: 2px solid $accent-color;
  }

  &:hover .services__card--header {
    color: $accent-color;
  }

  &--wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
    padding: 5rem 0;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      gap: 5rem;
    }
  }

  &--header {
    font-size: 2.5rem;
    color: $white-color;
    margin-bottom: 2rem;
    line-height: 1.2;
    min-height: 6rem;
  }
  &--body {
    font-size: 1.75rem;
    color: $technicalUI-color;
    font-weight: 200;
  }
}
