@use "../abstracts/variables" as *;

.textArea {
  padding: 1rem;
  font-family: $font-primary;
  background-color: $ecosystem-color;
  color: $technicalUI-color;
  height: 15rem !important;
  width: 100% !important;
  border: 1px solid $secondary-color;
  outline: none;
  resize: none;
}
