@use "../abstracts/variables" as *;

.aboutUs__ethos {
  height: 100vh;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  padding: 0 5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: $bp-largest) {
    min-height: 70dvh;
  }

  &--one {
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &--label {
      color: $ethosText-color;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      cursor: default;
      font-weight: 200;
    }
    &--header {
      font-size: 5rem;
      color: $white-color;
      line-height: 1;
      margin-bottom: 2rem;
      text-transform: uppercase;
      cursor: default;
    }
    &--body {
      font-size: 1.7rem;
      color: $technicalUI-color;
      margin-bottom: 2rem;
      word-spacing: 0.5rem;
      width: 80%;
      cursor: default;
    }
    &--image {
      width: 60rem;
      height: 25rem;
      transition: transform 0.5s ease;
      will-change: transform;

      &--wrapper {
        width: 60rem;
        height: 25rem;
        overflow: hidden;

        &:hover {
          .aboutUs__ethos--one--image {
            transform: scale(1.15);
          }
        }
      }
    }
  }
  &--two {
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &--label {
      color: $ethosText-color;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      cursor: default;
      font-weight: 200;
    }
    &--header {
      font-size: 5rem;
      color: $white-color;
      line-height: 1;
      margin-bottom: 2rem;
      text-transform: uppercase;
      cursor: default;
    }
    &--body {
      font-size: 1.7rem;
      color: $technicalUI-color;
      margin-bottom: 2rem;
      word-spacing: 0.5rem;
      width: 80%;
      cursor: default;
    }
    &--image {
      width: 60rem;
      height: 25rem;
      transition: transform 0.5s ease;
      will-change: transform;

      &--wrapper {
        width: 60rem;
        height: 25rem;
        overflow: hidden;

        &:hover {
          .aboutUs__ethos--two--image {
            transform: scale(1.15);
          }
        }
      }
    }
  }

  &--one {
    align-self: center;
  }
  &--two {
    align-self: self-end;
    margin-bottom: 5rem;
  }
}
