@use "../abstracts/variables" as *;

.industrial {
  background-color: $black-color;
  padding: 10rem 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  &__text {
    flex: 1;

    &--header {
      font-size: 3rem;
      color: $white-color;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1;
      padding-bottom: 3rem;
      cursor: default;
    }

    &--body {
      font-size: 1.3rem;
      color: $technicalUI-color;
      padding-bottom: 3rem;
      width: 70%;
      cursor: default;
    }

    &--link {
      text-transform: uppercase;
      color: $white-color;
      font-weight: 700;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      opacity: 0;
      cursor: default;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &::before {
        content: "";
        display: block;
        width: 4rem;
        height: 0.1rem;
        background-color: $accent-color;
        transform-origin: left center;
        flex-shrink: 0;
      }
    }
  }

  &__images {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
  }

  &__image-wrapper {
    position: relative;
    width: 40rem;
    height: 25rem;
    flex-shrink: 0;
    overflow: hidden;
    background-color: $black-color;
  }

  &__image {
    object-fit: cover;
    object-position: center center;
  }

  &__image--computer {
    transform: scale(1.08);
  }

  &__image--dashboard {
    transform: scale(1);
  }

  &__image-label {
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 1.5rem;
    color: $white-color;
    font-weight: 700;
    text-transform: uppercase;
    pointer-events: none;
    cursor: default;
  }
}
