@use "../abstracts/variables" as *;

.origin {
  background-color: $primary-color;
  height: 100vh;
  width: 100dvw;
  display: flex;
  align-items: center;
  column-gap: 15rem;
  padding: 15rem 5rem;
  position: relative;
  flex-shrink: 0;

  &__text {
    &--wrapper {
      flex: 0 0 30%;
    }

    &--label {
      font-size: 1.4rem;
      color: $ethosText-color;
      margin-bottom: 1rem;
      cursor: default;
    }

    &--header {
      font-size: 7.5rem;
      color: $white-color;
      line-height: 1;
      margin-bottom: 2rem;
      text-transform: uppercase;
      cursor: default;
    }

    &--body {
      font-size: 1.7rem;
      color: $technicalUI-color;
      cursor: default;
      line-height: 1.6;
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
    will-change: transform;

    &--wrapper {
      flex: 0 0 50%;
      width: 80%;
      height: 45vh;
      position: relative;
      border: 1px solid $secondary-color;
      background-color: $ethos-color;

      &::before {
        content: "";
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        width: calc(100% - 4rem);
        height: calc(100% - 4rem);
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        z-index: 3;
        pointer-events: none;
      }

      &::after {
        content: "";
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: calc(100% - 4rem);
        height: calc(100% - 4rem);
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
        z-index: 3;
        pointer-events: none;
      }
    }

    &--container {
      position: absolute;
      inset: 2rem;
      overflow: hidden;
      background-color: $ethos-color;
      z-index: 1;
      &:hover .origin__image {
        transform: scale(1.15);
      }
    }
  }
}
