@use "../abstracts/variables" as *;

.pillars {
  background-color: $ecosystem-color;
  height: 100dvh;
  width: 100dvw;
  padding: 15rem 5rem;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @media only screen and (min-width: $bp-largest) {
    max-width: 200rem;
  }

  &--label {
    font-size: 1.4rem;
    color: $ethosText-color;
    margin-bottom: 1rem;
    cursor: default;
  }

  &--header {
    font-size: 6.5rem;
    color: $white-color;
    line-height: 1;
    margin-bottom: 2rem;
    text-transform: uppercase;
    cursor: default;
  }

  &--cards {
    display: flex;
    align-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
    // column-gap: 5rem;
  }
}
