@use "../abstracts/variables" as *;

.roadMap {
  background-color: $primary-color;
  height: 100vh;
  width: 100dvw;
  padding: 0rem 5rem;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @media only screen and (min-width: $bp-largest) {
    max-width: 200rem;
  }

  &--label {
    font-size: 1.4rem;
    color: $ethosText-color;
    margin-bottom: 1rem;
    cursor: default;
  }

  &--header {
    font-size: 6.5rem;
    color: $white-color;
    line-height: 1;
    margin-bottom: 2rem;
    text-transform: uppercase;
    cursor: default;
  }

  &__timeline {
    display: flex;
    padding: 5rem 0;
    align-items: center;
    justify-content: center;

    &--wrapper {
      position: absolute;
      margin-top: 2rem;
      margin-left: -4rem;
    }

    &--phase {
      text-transform: uppercase;
      color: $timeLine-color;
      font-size: 1.3rem;
      font-weight: 400;
      padding-bottom: 2rem;
      text-align: center;
    }
    &--text {
      text-transform: uppercase;
      color: $white-color;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: $font-primary;
      width: 10rem;
      text-align: center;
    }

    &--indicator {
      width: 2rem;
      height: 2rem;
      background-color: $border-color;
      border-radius: 50%;
      border: 1px solid $timeLine-color;

      &--active {
        background-color: $accent-color;
      }
    }

    &--phase {
      &--wrapper {
        display: flex;
        align-items: center;

        &:first-child::before {
          content: "";
          width: 10rem;
          height: 0.2rem;
          background-color: $border-color;

          @media only screen and (max-width: $bp-medium) {
            width: 4rem;
          }
        }

        &:not(:last-child)::after {
          content: "";
          width: 30rem;
          height: 0.2rem;
          background-color: $border-color;

          @media only screen and (max-width: $bp-medium) {
            width: 12rem;
          }
        }
        &:last-child::after {
          content: "";
          width: 10rem;
          height: 0.2rem;
          background-color: $border-color;

          @media only screen and (max-width: $bp-medium) {
            width: 4rem;
          }
        }
      }
    }
  }
}
