@use "../abstracts/variables" as *;

.stack {
  padding: 10rem 5rem;
  background-color: $primary-color;
  position: relative;
  height: 100dvh;
  display: flex;
  align-items: center;

  @media only screen and (min-width: $bp-largest) {
    height: 50dvh;
  }

  &__frontend {
    position: absolute;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-right: 5rem;
    // width: 10%;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    @media only screen and (min-width: $bp-largest) {
      width: 95%;
    }

    &--header {
      font-size: 5rem;
      color: $white-color;
      font-weight: 800;
      width: 70%;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    &--body {
      font-size: 1.6rem;
      color: $technicalUI-color;
      width: 75%;
      &--highlight {
        color: $accent-color;
      }
    }

    &--labels {
      padding: 3rem 0;
    }

    &--label {
      font-size: 1.4rem;
      color: $white-color;
      font-weight: 800;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      column-gap: 2rem;
      padding: 0.5rem 0;

      &::before {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: $accent-color;
      }
    }

    &--text {
      &--wrapper {
        flex: 0 0 45%;
      }
    }

    &--icon {
      &--wrapper {
        flex: 0 0 45%;
        display: flex;
        flex-direction: column;
        padding: 9rem 0rem;
        background-color: $ethos-color;
        gap: 2.5rem;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
          width: 90dvw;
        }
      }
      &--fill {
        width: 7.5rem;
        height: 7.5rem;
        fill: $accent-color;
      }
    }
  }

  &__ai {
    position: absolute;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-right: 5rem;
    // width: 100%;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    @media only screen and (min-width: $bp-largest) {
      width: 95%;
    }

    &--header {
      font-size: 5rem;
      color: $white-color;
      font-weight: 800;
      width: 100%;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    &--body {
      font-size: 1.6rem;
      color: $technicalUI-color;
      width: 75%;
      &--highlight {
        color: $accent-color;
      }
    }

    &--quote {
      margin: 2rem 0;
      font-size: 1.6rem;
      color: $technicalUI-color;
      font-style: italic;
      width: 80%;
      padding: 0.5rem 2rem;
      border-left: 0.01rem solid $technicalUI-color;
    }

    &--labels {
      padding: 3rem 0;
    }

    &--text {
      &--wrapper {
        flex: 0 0 45%;

        @media only screen and (max-width: $bp-medium) {
          flex: 0 0 35%;
        }
      }
    }

    &--icon {
      &--wrapper {
        flex: 0 0 45%;
        display: flex;
        flex-direction: column;
        // background-color: $ethos-color;
        gap: 2.5rem;
        align-items: center;
        // margin-right: 5rem;
        // width: 80%;
      }
      &--fill {
        width: 7.5rem;
        height: 7.5rem;
        fill: $accent-color;
      }
    }
  }

  &__backend {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-right: 5rem;
    cursor: default;
    // width: 100%;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    @media only screen and (min-width: $bp-largest) {
      width: 95%;
    }

    &--header {
      font-size: 5rem;
      color: $white-color;
      font-weight: 800;
      width: 90%;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    &--body {
      font-size: 1.6rem;
      color: $technicalUI-color;
      margin-right: 5rem;

      &--highlight {
        color: $accent-color;
      }
    }

    &--badge {
      background-color: rgba($color: $technicalUI-color, $alpha: 0.1);
      padding: 1rem 2rem;
      font-family: $font-primary;
      border-left: 0.3rem solid $accent-color;
      cursor: default;
      text-transform: uppercase;

      &--wrapper {
        display: flex;
        column-gap: 3rem;
        margin-top: 3rem;
      }

      &--header {
        color: $accent-color;
        font-weight: 600;
        cursor: default;
        font-size: 2rem;
      }

      &--sub {
        color: $technicalUI-color;
        font-size: 1.5rem;
        font-weight: 400;
        cursor: default;
      }
    }

    &--text {
      &--wrapper {
        flex: 0 0 45%;
      }
    }

    &--icon {
      &-1 {
        justify-self: end;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      &-2 {
        justify-self: start;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &-3 {
        justify-self: center;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
      &--wrapper {
        flex: 0 0 45%;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 9rem 0rem;
        background-color: $ethos-color;
        gap: 2.5rem;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
          width: 90dvw;
        }
      }
      &--fill {
        width: 10rem;
        height: 10rem;
        fill: $accent-color;
      }
    }
  }

  &__header {
    font-weight: 200;
    letter-spacing: 0.4rem;
    color: $technicalUI-color;
    font-size: 1.8rem;
    cursor: default;
  }
  &__subheader {
    font-weight: 800;
    color: $white-color;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    line-height: 1.8;
    margin-bottom: 5rem;
    cursor: default;
  }

  &__cardwrapper {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    cursor: default;
  }

  &__image {
    @media only screen and (max-width: $bp-medium) {
      width: 90dvw;
    }
  }

  &__imagewrapper {
    margin-right: 5rem;
    width: 100%;
    max-height: 40rem;
    aspect-ratio: 7/4;
    position: relative;
    object-fit: fill;

    @media only screen and (max-width: $bp-medium) {
      width: 90dvw;
    }
  }
}
